{
    "server": {
        "host": "pf.xiaofeifei.fun",
        "port": 10222,
        "bufsize": 1024,
        "authtoken": "",
        "comment": "使用自定义端口 10222"
    },
    "client": [
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "httpauth": "",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 3389,
            "comment": "RDP 远程桌面"
        },
        {
            "protocol": "http",
            "hostname": "",
            "subdomain": "test",
            "httpauth": "",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 8000,
            "comment": "HTTP 测试服务"
        }
    ]
}
