{
    "server": {
        "host": "xx.xxx.cn",
        "port": 4443,
        "bufsize": 1024,
        "authtoken": ""
    },
    "client": [
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "httpauth": "",
            "rport": 10xxx,
            "lhost": "127.0.0.1",
            "lport": 3389,
            "comment": "RDP 远程桌面"
        },
    ]
}
